{% extends "layout.html" %}
{% block body %}
  <h3 style="color: white;">About Us</h3>
  <hr style="color: grey;">
  <p style="color: rgba(255, 255, 255, 0.914); text-align:center; letter-spacing: 3px; font-size:large">Advanced level scan in basic level interface.</p>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Security Engineer & Developer</strong>
          <h3 style="color: white;" class="mb-0">İpek Yüksek</h3>
          <div class="mb-1 text-muted">Student at Baskent University, Computer Engineering</div>
          <a style="color : rgb(0, 115, 255)" href="https://www.linkedin.com/in/zekiye-ipek-y%C3%BCksek/" class="card-text mb-auto">LinkedIn </a>
        </div>
        <div class="col-auto d-none d-lg-block">
         
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Developer</strong>
            <h3 style="color: white;" class="mb-0">Anıl İpeksümer</h3>
          <div class="mb-1 text-muted">Student at Baskent University, Computer Engineering</div>
          <a style="color : rgb(0, 115, 255);"  href="https://www.linkedin.com/in/an%C4%B1l-ipeks%C3%BCmer/" class="card-text mb-auto">LinkedIn</a>
          </div>
          <div class="col-auto d-none d-lg-block">
          
  
          </div>
        </div>
      </div>
    </div>
{% endblock body %}